.about-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.about-container-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 195px 0 0 14.375%;
}
.about-container-right {
    position: relative;
    padding-left: 6.8125%;
    padding-top: 106px;
    width: 50%;
    height: 100%;
}

.circle {
    position: absolute;
    top: 24%;
    left: 35.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 357px;
    mix-blend-mode: normal;
    opacity: 0.03;
    border: 9px solid #34495E;
    border-radius: 50%;
}
.inner-ring1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 267px;
    border: 8px solid #34495E;
    border-radius: 50%;
}
.inner-ring2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
    border: 6px solid #34495E;
    border-radius: 50%;
}
.inner-ring3 {
    width: 90px;
    height: 90px;
    border: 3px solid #34495E;
    border-radius: 50%;
}
.about-plate-text {
    z-index: 999;
    margin: 0;
    font-family: "Merriweather Sans", Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1.37143px;
    color: #34495E;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 480px;
}
.plate-quotes {
    margin-bottom: 35px;
}
.about-right-text-area {
    z-index: 999;
    width: 483px;
}
.about-right-text {
    z-index: 999;
    font: 400 15px/21px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.28571px;
    color: #ECF0F1;
    text-align: left;
    margin: 0 0 18px;
}
.circle-background {
    border: 9px solid #ECF0F1;
    top: 2.5%;
    left: 75.5%;
    overflow: hidden;
    width: 800px;
    height: 800px;
}
.circle-background .inner-ring1 {
    border: 8px solid #ECF0F1;
    width: 600px;
    height: 600px;
}
.circle-background .inner-ring2 {
    border: 6px solid #ECF0F1;
    width: 400px;
    height: 400px;
}
.circle-background .inner-ring3 {
    border: 3px solid #ECF0F1;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1600px) {
    #main-area {
        background: red;
    }
    .container {
        overflow-y: visible;
    }
    .about-right-text {
        font-size: 17px;
        line-height: 20px;
    }
    .about-right-text-area {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-container-left {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-plate-text {
        font-size: 14px;
        width: 90%;
    }
    .plate-quotes {
        margin-bottom: 20px;
        max-width: 32px;
        height:auto;
    }
    .about-container-right {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .circle-background {
        display: none;
    }
    .circle {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-left: 33%;
        transform: scale(0.9);
    }
}
@media screen and (max-width: 1200px) {
        #main-area {
        background: blue;
    }
    .about-right-text {
        font-size: 14px;
        line-height: 17px;
    }
    .circle {
        margin-left: 25%;
    }
}
@media screen and (max-width: 960px) {
        #main-area {
        background: teal;
    }
    .circle {
        margin-left: 20%;
        transform: scale(0.8);
    }
    .about-right-text {
        font-size: 12px;
        line-height: 15px;
    }
    .about-plate-text {
        font-size: 12px;
        width: 85%;
    }
    .plate-quotes {
        margin-bottom: 16px;
        max-width: 26px;
        height:auto;
    }
    .about-right-text-area {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .circle {
        top: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        margin-top: 20%;
        transform: scale(1);
    }
    .container-reverse {
        background: #ECF0F1;
    }
    .page-title, .social-link .fab, .about-right-text {
        color: #34495E;
    }
    .social-link {
        border-color: #34495E;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .about-container-left, .about-container-right {
        width: 80%;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .plate-quotes {
        margin: 0 16px 0 0;
    }
    .about-container-right {
        height: auto;
        padding: 40px 0 20px 0;
    }
    .about-right-text-area {
        width: 100%;
    }
}
@media screen and (max-width: 352px) {
}