@font-face {
    font-family: Matura;
    src: url(../fonts/MATURASC.TTF);
}
html, body  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}
div {
    box-sizing: border-box;
}
#main-area {
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    background: linear-gradient(to right, #34495E 0%, #34495E 50%, #ECF0F1 50.01%, #ECF0F1 100%);
    height: 820px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.container-reverse {
    background: linear-gradient(to right, #ECF0F1 0%, #ECF0F1 50%, #34495E 50.01%, #34495E 100%);
}
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-left {
    padding: 27px 0 0 14.375%;
    width: 50%;
}
.header-right {
    width: 50%;
    padding-top: 33px;
}
.padding-right-side {
    padding-left: 13.3125%;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;

}
.footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 75px;
}
.footer-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 72px;
}

.left-side {
    width: 50%;
    background: #34495E;
}
.left-side-light {
    background: #ECF0F1;
}
.menu {
    text-align: center;
}

.menu-list {
    padding: 0;
    margin: 0;
}

.menu-list-dark .menu-item .menu-link, .menu-list-dark .menu-item .menu-link:hover:before {
    color: #34495E;
}

.menu-item {
    display: inline-block;
    margin-left: 40px;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-link {
    font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #ECF0F1;
    text-decoration: none;
    position: relative;
}
.menu-link:hover:before, .selected:before  {
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #FFFFFF;
    text-decoration: underline;
}
.menu-list-dark .menu-link:hover:before, .menu-list-dark .selected-dark:before {
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #34495E;
    text-decoration: underline;
}
.page-title {
    display: block;
    font: 800 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    margin-bottom: 0;
}
.page-title-dark {
    color: #34495E;
}
.social-list {
    position: relative;
    z-index: 999;
    padding: 0;
    text-align: center;
    margin: 0;
}
.social-item {
    display: inline-block;
    margin-left: 22.5px;
}
.social-item:first-child {
    margin-left: 0;
}
.social-link {
    display: block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    text-decoration: none;
}
.social-list-dark .social-item .social-link {
    border-color: #34495E;
}
.social-link .fab {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
}
.social-list-dark .social-item .social-link .fab {
    color: #34495E;
}
.social-list-dark .social-item .social-link:hover .fab {
    color: darkred;
}
.social-link:hover .fab  {
    color: darkred;
}
.left-side-padding {
    padding-left: 8.875%;
}
.stamp  {
    text-decoration: none;
    font-family: Matura, Tahoma, sans-serif;
    font-size: 36px;
    color: #ECF0F1;
}
.stamp-dark {
    color: #34495E;
}
