.contacts-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.contacts-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    overflow: visible;
}
.forms {
    padding-left: 25px;
    font: bold 14px/55px 'Open Sans', serif;
    color: #ECF0F1;
    background: #34495E;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 0;
    border-radius: 27px;
    margin-bottom: 35px;
}
.forms::placeholder {
    opacity: 1;
    color: #ECF0F1;
}
.form-submit {
    background: url(../images/Paper-plane.svg) #ECF0F1 62% 50% no-repeat;
    color: #34495E;
    border: 2px solid #34495E;
    cursor: pointer;
}
.text-area {
    height: 168px;
    resize: none;
}
.forms:last-child {
    margin-bottom: 0;
}
.map-background {
    background: #ECF0F1 url(../images/map.png) right center no-repeat;
}
.forms:focus, a:focus   {
    outline: none;
}

@media screen and (max-width: 1600px) {
    .container {
        overflow-y: visible;
    }
    .map-background {
        background-size: 50% 100%;
    }
    .forms {
        font-size: 11px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .text-area {
        height: 134px;
    }
    .contacts-form {
        width: 300px;
    }
    .form-submit {
        background: url(../images/Paper-plane.svg) #ECF0F1 65% 50% no-repeat;
    }
}
@media screen and (max-width: 1200px) {
    .left-side-padding {
        padding-left: 0;
    }
}
@media screen and (max-width: 960px) {
    .form-submit {
        background: url(../images/Paper-plane.svg) #ECF0F1 68% 50% no-repeat;
    }
}
@media screen and (max-width: 768px) {
    .contacts-form {
        width: 250px;
    }
    .map-background {
        background: #ECF0F1;
    }
    .page-title, .social-link .fab{
        color: #34495E;
    }
    .social-link {
        border-color: #34495E;
    }
    .contacts-container {
        flex-direction: column;
        align-items: center;
    }
    .contacts-left {
        width: 100%;
        padding-top: 40px;
    }
    .contacts-right {
        margin: 40px 0 40px;
        min-width: 100%;
        min-height: 100vw;
        background: url(../images/map.png) right bottom no-repeat;
        background-size: cover;
    }
    .form-submit {
        background: #ECF0F1;
    }
}
@media screen and (max-width: 352px) {
    .contacts-right {
        min-height: 320px;
    }
}