.contacts-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.contacts-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    overflow: visible;
}
.forms {
    padding-left: 25px;
    font: bold 14px/55px 'Open Sans', serif;
    color: #ECF0F1;
    background: #34495E;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 0;
    border-radius: 27px;
    margin-bottom: 35px;
}
.forms::placeholder {
    opacity: 1;
    color: #ECF0F1;
}
.form-submit {
    background: url(../images/Paper-plane.svg) #ECF0F1 62% 50% no-repeat;
    color: #34495E;
    border: 2px solid #34495E;
    cursor: pointer;
}
.text-area {
    height: 168px;
    resize: none;
}
.forms:last-child {
    margin-bottom: 0;
}
.map-background {
    background: #ECF0F1 url(../images/map.png) right center no-repeat;
}
.forms:focus, a:focus   {
    outline: none;
}

@media screen and (max-width: 1600px) {
    #main-area {
        background: red;
    }
}
@media screen and (max-width: 1200px) {
    #main-area {
        background: yellow;
    }
}
@media screen and (max-width: 960px) {
    #main-area {
        background: blue;
    }
}
@media screen and (max-width: 768px) {
    #main-area {
        background: green;
    }
}
@media screen and (max-width: 352px) {
    #main-area {
        background: teal;
    }
}