.product-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-left-side {
    position: relative;
    width: 100%;
    padding: 150px 0 0 14.375%;
}
.product-left-side * {
    position: relative;
}
.product-title {
    z-index: 999;
    font-family: "Open Sans", Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 87px;
    font-size: 64px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    margin: 0 0 50px;
}
.product-text {
    z-index: 999;
    font-family: "Open Sans", Tahoma, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
    letter-spacing: 0.72px;
    color: #ECF0F1;
    width: 201px;
}
.product-image {
    position: absolute;
    top: 13%;
    left: 29.5%;
    height: 515px;
    background: #D8D8D8;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.246801);
}
@media screen and (max-width: 1600px) {
    .container {
        overflow-y: visible;
    }
    .product-image {
        width: 45%;
        height: auto;
        top: 11%;
        left: 36.5%;
    }
}
@media screen and (max-width: 1200px) {
    .product-image {
        width: 100%;
        position: static;
        margin: 20px 0 20px;
    }
    .product-left-side {
        padding: 40px 14.375% 0 14.375%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .product-title, .product-text {
        margin: 0;
    }
    .product-title {
        font-size: 59px;
    }
    .product-text {
        color: #34495E;
        width: 40%;
    }
    .product-container {
        height: auto;
    }
}
@media screen and (max-width: 960px) {
    .product-title {
        font-size: 46px;
    }
    .product-text {
        font-size: 13px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        background: #34495E;
    }
    .page-title-dark, .social-list-dark .social-item .social-link .fab {
        color: #ECF0F1;
    }
    .social-list-dark .social-item .social-link {
        border-color: #ECF0F1;
    }
    .product-container {
        display: block;
        padding-bottom: 20px;
    }
    .product-left-side {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    .product-text {
        width: 60%;
        text-align: center;
        color: #ECF0F1;
    }
    .product-image {
        width: 90%;
        height: auto;
    }
}
@media screen and (max-width: 352px) {
}