
.title-area {
    font: bold 72px/80px 'Open Sans', Tahoma, serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
    width: 750px;
    height: 170px;
    margin: 0;
    background: linear-gradient(to right, #FFF 0%, #FFF 49.99%, #34495E 50%, #34495E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.about-container-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 195px 0 0 14.375%;
}
.about-container-right {
    position: relative;
    padding-left: 6.8125%;
    padding-top: 106px;
    width: 50%;
    height: 100%;
}

.circle {
    position: absolute;
    top: 24%;
    left: 35.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 357px;
    mix-blend-mode: normal;
    opacity: 0.03;
    border: 9px solid #34495E;
    border-radius: 50%;
}
.inner-ring1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 267px;
    border: 8px solid #34495E;
    border-radius: 50%;
}
.inner-ring2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
    border: 6px solid #34495E;
    border-radius: 50%;
}
.inner-ring3 {
    width: 90px;
    height: 90px;
    border: 3px solid #34495E;
    border-radius: 50%;
}
.about-plate-text {
    z-index: 999;
    margin: 0;
    font-family: "Merriweather Sans", Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1.37143px;
    color: #34495E;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 480px;
}
.plate-quotes {
    margin-bottom: 35px;
}
.about-right-text-area {
    z-index: 999;
    width: 483px;
}
.about-right-text {
    z-index: 999;
    font: 400 15px/21px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.28571px;
    color: #ECF0F1;
    text-align: left;
    margin: 0 0 18px;
}
.contacts-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.contacts-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    overflow: visible;
}
.forms {
    padding-left: 25px;
    font: bold 14px/55px 'Open Sans', serif;
    color: #ECF0F1;
    background: #34495E;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 0;
    border-radius: 27px;
    margin-bottom: 35px;
}
.forms::placeholder {
    opacity: 1;
    color: #ECF0F1;
}
.form-submit {
    background: url(../images/Paper-plane.svg) #ECF0F1 62% 50% no-repeat;
    color: #34495E;
    border: 2px solid #34495E;
    cursor: pointer;
}
.text-area {
    height: 168px;
    resize: none;
}
.forms:last-child {
    margin-bottom: 0;
}
.map-background {
    background: #ECF0F1 url(../images/map.png) right center no-repeat;
}

.forms:focus, a:focus   {
    outline: none;
}
.circle-background {
    border: 9px solid #ECF0F1;
    top: 2.5%;
    left: 75.5%;
    overflow: hidden;
    width: 800px;
    height: 800px;
}
.circle-background .inner-ring1 {
    border: 8px solid #ECF0F1;
    width: 600px;
    height: 600px;
}
.circle-background .inner-ring2 {
    border: 6px solid #ECF0F1;
    width: 400px;
    height: 400px;
}
.circle-background .inner-ring3 {
    border: 3px solid #ECF0F1;
    width: 200px;
    height: 200px;
}
.product-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-left-side {
    position: relative;
    width: 100%;
    padding: 150px 0 0 14.375%;
}
.product-left-side * {
    position: relative;
}
.product-title {
    z-index: 999;
    font-family: "Open Sans", Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 87px;
    font-size: 64px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    margin: 0 0 50px;
}
.product-text {
    z-index: 999;
    font-family: "Open Sans", Tahoma, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
    letter-spacing: 0.72px;
    color: #ECF0F1;
    width: 201px;
}
.product-image {
    position: absolute;
    top: 13%;
    left: 29.5%;
    height: 515px;
    background: #D8D8D8;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.246801);
}
