
.title-area {
    font: bold 72px/80px 'Open Sans', Tahoma, serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
    width: 750px;
    height: 170px;
    margin: 0;
    background: linear-gradient(to right, #FFF 0%, #FFF 49.99%, #34495E 50%, #34495E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.about-container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 89px;
    width: 50%;
}
.about-container-right {
    padding-left: 109px;
    width: 50%;
    height: 100%;
}
.about-plate {
    padding-top: 114px;
    position: relative;
    width: 480px;
    height: 357px;
}
.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 56px;
    top: 0;
    width: 357px;
    height: 357px;
    mix-blend-mode: normal;
    opacity: 0.03;
    border: 9px solid #34495E;
    border-radius: 50%;
}
.inner-ring1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 267px;
    border: 8px solid #34495E;
    border-radius: 50%;
}
.inner-ring2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
    border: 6px solid #34495E;
    border-radius: 50%;
}
.inner-ring3 {
    width: 90px;
    height: 90px;
    border: 3px solid #34495E;
    border-radius: 50%;
}
.about-plate-text {
    margin: 0;
    font-family: "Merriweather Sans", Tahoma, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1.37143px;
    color: #34495E;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.plate-quotes {
    width: 49px;
    height: 40px;
    position: absolute;
    top: 39px;
}
.about-right-text-area {
    width: 483px;
}
.about-right-text {
    font: 400 15px/21px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.28571px;
    color: #ECF0F1;
    text-align: left;
    margin: 0 0 18px;
}
.contacts-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.contacts-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    overflow: visible;
}
.forms {
    padding-left: 25px;
    font: bold 14px/55px 'Open Sans', serif;
    color: #ECF0F1;
    background: #34495E;
    mix-blend-mode: normal;
    opacity: 0.9;
    border: 0;
    border-radius: 27px;
    margin-bottom: 35px;
}
.forms::placeholder {
    opacity: 1;
    color: #ECF0F1;
}
.form-submit {
    background: url(../images/Paper-plane.svg) #ECF0F1 62% 50% no-repeat;
    color: #34495E;
    border: 2px solid #34495E;
    cursor: pointer;
}
.text-area {
    height: 168px;
    resize: none;
}
.forms:last-child {
    margin-bottom: 0;
}
.map-background {
    background: #ECF0F1 url(../images/map.png) right center no-repeat;
}

.forms:focus, a:focus   {
    outline: none;
}